/* top and bottom nav bars */
.navbar {
    /* navbar color and font */
    border-color: $navbar-border-color;
    background: $navbar-background-color;
    border-width: 1px;
    border-style: solid;
    color: $navbar-text-color;
    font-family: $navbar-font;

    /* size + color of corner-floating buttons */
    div.btn-group {
        a, i {
            color: $navbar-text-color;
            font-size: 20px;
        }
        a {
            font-family: $navbar-font;
        }
    }
}

.app {
    /* at least on bottom navbar, the .app background shines through the 1px spacing making for a thick border; gve it the app-content BG color */
    background: $navbar-background-color;
}
