<div class="sidebar sidebar-left">
    <div class="scrollable">
        <h1 class="scrollable-header app-name">Mobile Map Starter</h1>
        <div class="scrollable-content">
            <div class="list-group" ui-turn-off="uiSidebarLeft">
                <a class="list-group-item" href ng-click="selectPage('welcome');">Home<i class="fa fa-chevron-right pull-right"></i></a>
                <a class="list-group-item" href ng-click="selectPage('map');">Map <i class="fa fa-chevron-right pull-right"></i></a>
                <a class="list-group-item" href ng-click="selectPage('about');">About <i class="fa fa-chevron-right pull-right"></i></a>
            </div>
        </div>
    </div>
</div>
