<!doctype html>
<html>
    <head>
        <title>Mobile Map Starter 2</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />

        <!-- cordova placeholder; yeah it doesn't exist -->
        <script src="cordova.js"></script>

        <!-- AngularJS -->
        <script src="node_modules/angular/angular.js"></script>

        <!-- mobile-angular-ui UI library, which alos handles the page-turning state transition -->
        <link rel="stylesheet" href="node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-base.css" />
        <script src="node_modules/mobile-angular-ui/dist/js/mobile-angular-ui.js"></script>
        <script src="node_modules/mobile-angular-ui/dist/js/mobile-angular-ui.gestures.js"></script>

        <!-- Leaflet and custom controls -->
        <script src="node_modules/leaflet/dist/leaflet-src.js"></script>
        <link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css" />

        <link rel="stylesheet" href="node_modules/leaflet-control-geocoder/dist/Control.Geocoder.css" />
        <script src="node_modules/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

        <!-- UI addons and custom widgets -->
        <script src="node_modules/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.js"></script>
        <link rel="stylesheet" href="node_modules/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.css" />

        <!-- our own awesomesauce -->
        <script src="bundle.js"></script>
        <link rel="stylesheet" type="text/css" href="bundle.css" />
    </head>

    <!-- the selectedPage scope variable, is used to show show only one page at a time in the div.app-body
         ngRoute and ui.router lazy-load and auto-unload pages not currently in view, which is poison for maps and other expensive behaviors
         so we load them all into DOM, then show the relevant selectedPage
    -->
    <body ng-app="mobileApp" ng-controller="appController as app" ui-prevent-touchmove-defaults ui-shared-state="whichPage">
        <!-- sidebar -->
        <span ng-include="'html/sidebar.html'"></span>

        <div class="app" ui-swipe-right="Ui.turnOn('uiSidebarLeft')" ui-swipe-left="Ui.turnOff('uiSidebarLeft')">
            <span ng-include="'html/navbar-top.html'"></span>
            <span ng-include="'html/navbar-bottom.html'"></span>

            <div class="app-body">
                <span ng-show="app.selectedPage == 'welcome'" ng-include="'html/welcome.html'"></span>
                <span ng-show="app.selectedPage == 'about'" ng-include="'html/about.html'"></span>
                <span ng-show="app.selectedPage == 'map'" ng-include="'html/map.html'"></span>
                <span ng-show="app.selectedPage == 'mapsettings'" ng-include="'html/mapsettings.html'"></span>
            </div>

        </div><!-- div.app wrapper -->

        <!-- Modals and Overlays will be drawn here, and defined below -->
        <div ui-yield-to="modals"></div>


        <div ui-content-for="modals">
            <div class="modal modal-overlay" ng-if="globalmodal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" ng-click="app.modalMessageClear();">&times;</button>
                            <h3 class="modal-title">{{ globalmodal.title }}</h3>
                        </div>
                        <div class="modal-body">
                            <p>{{ globalmodal.message }}</p>
                        </div>
                        <div class="modal-footer">
                            <button ng-click="app.modalMessageClear();" class="btn btn-primary btn-lg">{{ globalmodal.closebutton }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
